h1{
  font-family: 'Coiny', cursive;
  text-align: center;
}

table{
  margin: auto;
}

td{
  background: blue;
  width: 150px;
  height: 250px;
  border: 5px solid white;
}

#one{
  background: #1A535C;
}

#two{
  background: #4ECDC4
}

#three{
  background: #F7FFF7
}

#four{
  background: #FF6B6B
}

#five{
  background: #FFE66D
}
